__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.venv
*.ipynb_checkpoints
.git
.gitignore
*.md
!README.md
.vscode
*.log
.DS_Store
energy-consumption-forecast.ipynb
models/*.pkl
models/*.keras
!sarimax_model.pkl